[Desktop Entry]
Version=1.0
Type=Link
Name=index.html
Comment=
Icon=user-bookmarks
URL=file:///tmp/guest-u4eykw/%C3%81rea%20de%20Trabalho/missao-refletindo-sobre-inteligencia-artificial-aula-11/index.html
